In [1]:
import tweepy
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
import scipy.stats as stats
#LDP Data Analysis 

df = pd.read_csv("LDP EOP DATA.csv")

import numpy as np

# Import and Initialize Sentiment Analyzer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

from config import consumer_key, consumer_secret, access_token, access_token_secret

# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

import spacy
from spacy import displacy
# Load the spaCy model
nlp = spacy.load('en_core_web_sm') #sm does not use vectors
                                   #but md does use vectors

In [2]:
## This notebook just focuses on cleaning the data

In [3]:
#Cleaning LDP data set

In [4]:
df = pd.read_csv("LDP EOP DATA.csv")

In [5]:
#in df clean columns Q9_1 to Q12_4
df = df.drop(df.index[0])          #dropping the first two rows
df = df.drop(df.index[0])
df.head(3)

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,ExternalReference,...,Trainer03RC,Trainer03FL,Trainer04BK,Trainer04RC,Trainer04FL,Trainer05BK,Trainer05RC,Trainer05FL,Program Code,Q15 - Topics
2,1/30/15 11:21,1/30/15 11:27,IP Address,208.0.118.3,NaN,336,TRUE,6/19/17 19:54,R_30dvwf8u53maBHD,"LDP01261501-Greensboro, NC, USA-Old Tyme Bean Co.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
3,1/30/15 11:21,1/30/15 11:27,IP Address,208.0.118.3,NaN,383,TRUE,6/19/17 19:54,R_2XnsYU4IUfTwIZ7,"LDP01261501-Greensboro, NC, USA-US Senate",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
4,1/30/15 11:21,1/30/15 11:27,IP Address,208.0.118.3,NaN,379,TRUE,6/19/17 19:54,R_1plIhVnhtEvVta3,"LDP01261501-Greensboro, NC, USA-Siemens Energy...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Can use index to get the string names
#df["Q9_1"].value_counts()
#df["Q9_2"].value_counts()
#df["Q11_2"].value_counts()
#df["Q11_3"].value_counts()
#df["Q11_4"].value_counts()
#df["Q12_2"].value_counts()
#df["Q12_3"].value_counts()
#df["Q12_4"].value_counts()

In [23]:
##Strings of all the different cases 

string5 = "Very great extent\n5"
string5_4 = 'Very great extent 5'
string4 = "Great\nextent \n4"  
string4_2 = 'Great extent\n4\n'
string4_3 = 'Great extent\n4'
string3 = "Some\nextent\n3"   
string2 = "Little\nextent\n2"          
string1 = "Not at all\n1"    
string1_2 = "Not at all\n1 "
string1_3 = 'Not at all\n1\n'
string1_4 = 'Not at all 1'
string1_5 = 'Not at all   1'

In [24]:
#df["Q11_2"].value_counts()
string5_1 = "Very great extent\n5\n"   
string5_2 = 'Very great5'
string5_3 = 'Very great  5'

string4_1 = "Great\nextent\n4\n"  
string3_1 = "Some\nextent\n3\n"  
string3_2 = 'Some\nextent\n\n3\n'
string3_3 = 'Some extent\n3'
string2_1  = "Little\nextent\n2\n"
string2_2 = 'Little extent\n2'
string2_3 = 'Little extent\n2'
string1_1 = "Not at\nall\n1\n"

In [25]:
# Q9_1	Q9_2	Q11_2	Q11_3	Q11_4	Q12_2	Q12_3	Q12_4
columns_2_clean = ["Q2_1","Q9_1","Q9_2","Q11_2","Q11_3","Q11_4","Q12_2","Q12_3","Q12_4","Q13_2","Q13_3","Q13_4"]

In [26]:
#Function to clean each column of the data set

def clean_dat (col_name):  
#meat of function
    #len(df[col_name])
    num = 2
    temp_series = df[col_name]
    #dfmi.loc[:,('one','second')]
    #df.loc[(col_name,num)]
    for dummy in df[col_name]:
        if (df[col_name][num] == string5):# | 
            df[col_name][num] = 5.0
        elif df[col_name][num] == string5_1:
            df[col_name][num] = 5.0
        elif df[col_name][num] == string5_2:
            df[col_name][num] = 5.0
        elif df[col_name][num] == string5_3:
            df[col_name][num] = 5.0
        elif df[col_name][num] == string5_4:
            df[col_name][num] = 5.0
        elif (df[col_name][num] == string4):# | 
            df[col_name][num] = 4.0
        elif df[col_name][num] == string4_1:
            df[col_name][num] = 4.0
        elif df[col_name][num] == string4_2:
            df[col_name][num] = 4.0
        elif df[col_name][num] == string4_3:
            df[col_name][num] = 4.0
        elif (df[col_name][num] == string3):# | 
            df[col_name][num] = 3.0
        elif df[col_name][num] == string3_1:
            df[col_name][num] = 3.0
        elif df[col_name][num] == string3_2:
            df[col_name][num] = 3.0
        elif df[col_name][num] == string3_3:
            df[col_name][num] = 3.0
        elif (df[col_name][num] == string2):# | 
            df[col_name][num] = 2.0
        elif df[col_name][num] == string2_1:
            df[col_name][num] = 2.0
        elif df[col_name][num] == string2_2:
            df[col_name][num] = 2.0
        elif df[col_name][num] == string2_3:
            df[col_name][num] = 2.0
        elif (df[col_name][num] == string1):# | 
            df[col_name][num] = 1.0
        elif df[col_name][num] == string1_1:
            df[col_name][num] = 1.0
        elif df[col_name][num] == string1_2:
            df[col_name][num] = 1.0
        elif df[col_name][num] == string1_3:
            df[col_name][num] = 1.0
        elif df[col_name][num] == string1_4:
            df[col_name][num] = 1.0
        elif df[col_name][num] == string1_5:
            df[col_name][num] = 1.0
        elif df[col_name][num] == '1':
            df[col_name][num] = 1.0
        elif df[col_name][num] == '2':
            df[col_name][num] = 2.0
        elif df[col_name][num] == '3':
            df[col_name][num] = 3.0
        elif df[col_name][num] == '4':
            df[col_name][num] = 4.0
        elif df[col_name][num] == '5':
            df[col_name][num] = 5.0
        else:
            var=0
        num += 1

In [27]:
#Cleaning one individual column
#need to pass the column name

clean_dat("Q9_1")

In [28]:
df["Q9_1"].mean()

4.706599338324917

In [29]:
#now all the data are integer values
#now to loop through and clean all columns from "Q9_2" to "Q12_4"
num1 = 0
for dummy in columns_2_clean:
    clean_dat(columns_2_clean[num1])
    num1 += 1

In [30]:
m = df["Q2_1"].value_counts()
m.index

Float64Index([5.0, 4.0, 3.0, 1.0, 2.0], dtype='float64')

In [31]:
num1 = 0
for dummy in columns_2_clean:
    print(str(columns_2_clean[num1])+ " mean - " +str(df[columns_2_clean[num1]].mean()))
    num1 += 1
#Print out the mean values for the 8 columns in LDP Trainer Data Set

Q2_1 mean - 4.719064124783362
Q9_1 mean - 4.706599338324917
Q9_2 mean - 4.767984671659989
Q11_2 mean - 4.745736164288201
Q11_3 mean - 4.774238468233246
Q11_4 mean - 4.631799163179917
Q12_2 mean - 4.788249694002448
Q12_3 mean - 4.791185729275971
Q12_4 mean - 4.677877036258539
Q13_2 mean - 4.762645914396887
Q13_3 mean - 4.767509727626459
Q13_4 mean - 4.6384839650145775

In [32]:
clean_dat("Q6_2")
m = df["Q6_2"].value_counts()
print("Q6_2 mean - "+str(df["Q6_2"].mean()))
clean_dat("Q6_1")
print("Q6_1 mean - "+str(df["Q6_1"].mean()))
clean_dat("Q5#2_9")
print("Q5#2_9 mean - "+str(df["Q5#2_9"].mean()))

Q6_2 mean - 4.495818815331011
Q6_1 mean - 4.612330198537095
Q5#2_9 mean - 4.592258064516129

In [33]:
## Now focusing on columns Q5#1_1 to columns Q5#2_8

In [34]:
cols_2_clean = ["Q5#1_1","Q5#1_2","Q5#1_3","Q5#1_4","Q5#1_5","Q5#1_6","Q5#1_7","Q5#1_8","Q5#1_9","Q5#2_1","Q5#2_2","Q5#2_3","Q5#2_4","Q5#2_5","Q5#2_6","Q5#2_7","Q5#2_8"]
len(cols_2_clean)
#for loop to clean columns "Q5#1_1" to "Q5#2_8"
num1 = 0
for dummy in cols_2_clean:
    clean_dat(cols_2_clean[num1])
    num1 += 1

In [35]:
num1 = 0
for dummy in cols_2_clean:
    clean = df[cols_2_clean[num1]].dropna(axis=0)
    ans = clean.mean()
    print(str(cols_2_clean[num1]) + " mean - " +str(ans))
    num1 += 1
#m = df[cols_2_clean[0]].value_counts()
#m.index
#len(cols_2_clean)

Q5#1_1 mean - 4.184683882457702
Q5#1_2 mean - 4.339928698752228
Q5#1_3 mean - 4.585046066619419
Q5#1_4 mean - 4.439297124600639
Q5#1_5 mean - 4.427099982241165
Q5#1_6 mean - 4.612441902037898
Q5#1_7 mean - 4.116977777777778
Q5#1_8 mean - 4.635525616025528
Q5#1_9 mean - 4.548804251550044
Q5#2_1 mean - 4.4381918819188195
Q5#2_2 mean - 4.377539711858145
Q5#2_3 mean - 4.612067369979641
Q5#2_4 mean - 4.513194316294519
Q5#2_5 mean - 4.557791728212703
Q5#2_6 mean - 4.67967298402081
Q5#2_7 mean - 4.4115150396752165
Q5#2_8 mean - 4.760066494274104

In [36]:
#Preview the cleaned data set
df[cols_2_clean].head()
clean_LDP_dataset = df
clean_LDP_dataset[cols_2_clean].head(3)
clean_LDP_dataset.to_csv("clean_LDP_dataset.csv")

In [37]:
#possible to do chi square test on columns...

In [38]:
clean_LDP_dataset[cols_2_clean].head()
m =clean_LDP_dataset["Q13_3"]
m =m.dropna(axis=0)
m=m.value_counts()
m.index

Float64Index([5.0, 4.0, 3.0, 2.0], dtype='float64')

In [ ]:
#Function to clean each column of the data set

def clean_dat (col_name):  
#meat of function
    #len(df1[col_name])
    num = 2
    temp_series = df1[col_name]
    #df1mi.loc[:,('one','second')]
    #df1.loc[(col_name,num)]
    for dummy in df1[col_name]:
        if (df1[col_name][num] == string5):# | 
            df1[col_name][num] = 5.0
        elif df1[col_name][num] == string5_1:
            df1[col_name][num] = 5.0
        elif df1[col_name][num] == string5_2:
            df1[col_name][num] = 5.0
        elif df1[col_name][num] == string5_3:
            df1[col_name][num] = 5.0
        elif (df1[col_name][num] == string4):# | 
            df1[col_name][num] = 4.0
        elif df1[col_name][num] == string4_1:
            df1[col_name][num] = 4.0
        elif df1[col_name][num] == string4_2:
            df1[col_name][num] = 4.0
        elif df1[col_name][num] == string4_3:
            df1[col_name][num] = 4.0
        elif (df1[col_name][num] == string3):# | 
            df1[col_name][num] = 3.0
        elif df1[col_name][num] == string3_1:
            df1[col_name][num] = 3.0
        elif df1[col_name][num] == string3_2:
            df1[col_name][num] = 3.0
        elif df1[col_name][num] == string3_3:
            df1[col_name][num] = 3.0
        elif (df1[col_name][num] == string2):# | 
            df1[col_name][num] = 2.0
        elif df1[col_name][num] == string2_1:
            df1[col_name][num] = 2.0
        elif df1[col_name][num] == string2_2:
            df1[col_name][num] = 2.0
        elif df1[col_name][num] == string2_3:
            df1[col_name][num] = 2.0
        elif (df1[col_name][num] == string1):# | 
            df1[col_name][num] = 1.0
        elif df1[col_name][num] == string1_1:
            df1[col_name][num] = 1.0
        elif df1[col_name][num] == string1_2:
            df1[col_name][num] = 1.0
        elif df1[col_name][num] == string1_3:
            df1[col_name][num] = 1.0
        elif df1[col_name][num] == string1_4:
            df1[col_name][num] = 1.0
        elif df1[col_name][num] == string1_5:
            df1[col_name][num] = 1.0
        elif df1[col_name][num] == '1':
            df1[col_name][num] = 1.0
        elif df1[col_name][num] == '2':
            df1[col_name][num] = 2.0
        elif df1[col_name][num] == '3':
            df1[col_name][num] = 3.0
        elif df1[col_name][num] == '4':
            df1[col_name][num] = 4.0
        elif df1[col_name][num] == '5':
            df1[col_name][num] = 5.0
        else:
            var=0
        num += 1

In [ ]:
#Cleaning LOI Data set

In [ ]:
LOI_cols = ["Q3_1","Q9_1","Q9_2","Q13_1","Q13_2","Q16_2","Q16_3","Q16_4","Q17_2","Q17_3","Q17_4","Q23_13","Q25_13","Q25_14","Q25_15","Q25_16","Q25_17"]

In [ ]:
df1 = pd.read_csv("LOI EOP REVISED DATA.csv")
import warnings
warnings.filterwarnings('ignore')
df1 = df1.drop(df1.index[0])        #dropping the first two rows
df1 = df1.drop(df1.index[0])
df1.head()

In [ ]:
clean_dat("Q3_1")

In [ ]:
m = df1["Q3_1"].value_counts()
m.index

In [ ]:
clean_dat("Q9_1")
m = df1["Q9_1"].value_counts()
m.index

In [ ]:
clean_dat("Q9_2")
clean_dat("Q13_1")
clean_dat(LOI_cols[4])
clean_dat(LOI_cols[5])
clean_dat(LOI_cols[6])

clean_dat(LOI_cols[7])
clean_dat(LOI_cols[8])
clean_dat(LOI_cols[9])
clean_dat(LOI_cols[10])
clean_dat(LOI_cols[11])
clean_dat(LOI_cols[12])
clean_dat(LOI_cols[13])
clean_dat(LOI_cols[14])
clean_dat(LOI_cols[15])
clean_dat(LOI_cols[16])

In [ ]:
m = df1["Q9_2"].dropna(axis=0)
m.mean()

In [ ]:
m1 = df1["Q13_1"].dropna(axis=0)
m1.mean()

In [ ]:
stats.ttest_ind(m, m1, equal_var=False)

In [ ]:
#Performing T-test on two means from "Q9_2" and Q13_1

In [ ]:
df1.to_csv("clean_LOI_EOP_DATA.csv")