In [1]:
import gmaps
import pandas as pd

# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

ImportError: cannot import name 'gkey'

In [ ]:
# Create dataframe
import csv
campus_df = pd.read_csv('Resources/DECA-MAPPING4_m.csv')
campus_df.dropna()
campus_df.head()

In [ ]:
campus_df.describe

In [ ]:
campus_df.tail()

In [2]:
campus_df.isnull().tail()

NameError: name 'campus_df' is not defined

In [3]:
campus_df.isnull().sum()

NameError: name 'campus_df' is not defined

In [4]:
campus_df[campus_df.Co_Lat.isnull()]

NameError: name 'campus_df' is not defined

In [5]:
# Options to clean up missing values
campus_df.shape

NameError: name 'campus_df' is not defined

In [6]:
# Options to clean up missing values (drops a row if any values are missing)
campus_df.dropna(how='any').shape

NameError: name 'campus_df' is not defined

In [7]:
# Options to clean up missing values
campus_df.shape

NameError: name 'campus_df' is not defined

In [8]:
# Options to clean up missing values (drop a row if something selected is ) all or any
campus_df.dropna(subset=['Co_Lat', 'Co_Lon'], how='all').shape

NameError: name 'campus_df' is not defined

In [9]:
campus_df['Campus'].value_counts(dropna=False)

NameError: name 'campus_df' is not defined

In [10]:
# drop nan replace missing values with 
#campus_df['Co_Lat', 'Co_Lon'].
campus_df.dropna(how='any').shape

NameError: name 'campus_df' is not defined

In [11]:
campus_df['Campus'].value_counts(dropna=False)

NameError: name 'campus_df' is not defined

In [12]:
import numpy as np

In [13]:
del_rows = np.arange(5760,5783)
del_rows

array([5760, 5761, 5762, 5763, 5764, 5765, 5766, 5767, 5768, 5769, 5770,
       5771, 5772, 5773, 5774, 5775, 5776, 5777, 5778, 5779, 5780, 5781,
       5782])

In [14]:
# Store latitude and longitude in locations
locations = campus_df[["Co_Lat", "Co_Lon"]]
locations
#locations.drop(locations.index[5760])
# Fill NaN values and convert to float
#rating = campus_df["Airport Rating"].astype(float)
#760
#782

NameError: name 'campus_df' is not defined

In [15]:
locations

NameError: name 'locations' is not defined

In [16]:
#num = 5761
#for dummy in del_rows:
#    locations = locations.drop(locations.index[num])
#    num += 5
#locations
#locations = locations.drop(locations.index[5761])
#locations = locations.drop(locations.index[5762])
#locations = locations.drop(locations.index[5763])
locations = locations.drop(locations.index[5760])

NameError: name 'locations' is not defined

In [20]:
locations

         Co_Lat      Co_Lon
0     40.296122 -111.697276
1     41.723459  -86.188327
2     38.907192  -77.036873
3     38.907192  -77.036874
4     38.907192  -77.036875
5     38.907192  -77.036876
6     45.498564  -73.749757
7     38.907192  -77.036878
8     38.907192  -77.036879
9     38.907192  -77.036880
10    38.907192  -77.036881
11    38.907192  -77.036882
12    38.907192  -77.036883
13    38.907192  -77.036884
14    47.241280    9.601900
15    42.328371  -83.039967
16    42.328371  -83.039967
17    43.151445  -88.051494
18    43.151445  -88.051494
19    43.151445  -88.051494
20    43.151445  -88.051494
21    43.151445  -88.051494
22    35.613931  -97.571147
23    40.273103 -111.691085
24    40.273103 -111.691085
25    40.563609  -74.332445
26    40.563609  -74.332445
27    40.563609  -74.332445
28    42.388014  -83.067326
29    42.388014  -83.067326
...         ...         ...
5752  40.847072  -74.444777
5753  40.847072  -74.444777
5754  40.847072  -74.444777
5755  40.847072  -74.444777
5756  40.847072  -74.444777
5757  40.847072  -74.444777
5758  39.071002  -84.673992
5759  39.071002  -84.673992
5761        NaN         NaN
5762        NaN         NaN
5763        NaN         NaN
5764        NaN         NaN
5765        NaN         NaN
5766        NaN         NaN
5767        NaN         NaN
5768        NaN         NaN
5769        NaN         NaN
5770        NaN         NaN
5771        NaN         NaN
5772        NaN         NaN
5773        NaN         NaN
5774        NaN         NaN
5775        NaN         NaN
5776        NaN         NaN
5777        NaN         NaN
5778        NaN         NaN
5779        NaN         NaN
5780        NaN         NaN
5781        NaN         NaN
5782        NaN         NaN

[5782 rows x 2 columns]

In [21]:
del_rows = np.arange(5760,5783)
del_rows

array([5760, 5761, 5762, 5763, 5764, 5765, 5766, 5767, 5768, 5769, 5770,
       5771, 5772, 5773, 5774, 5775, 5776, 5777, 5778, 5779, 5780, 5781,
       5782])

In [22]:
locations.dropna(how='any').shape

(3100, 2)

In [23]:
# Store latitude and longitude in locations
locations=pd.DataFrame(["Co_Lat", "Co_Lon"])

In [24]:
import numpy as np
np.arange(5760,5816)
campus_df.drop(campus_df.index[5760,5816])

IndexError: too many indices for array

In [ ]:
campus_df

In [ ]:
#campus_df['']
campus_df.drop(campus_df.index[5769])
#campus_df.dropna(subset=["Co_Lat"])

In [ ]:
campus_df.shape

In [ ]:
campus_df.isnull().sum()

In [ ]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(["locations"],  
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig